
$white: #fff;
$blue: #64A3E5;
$dark-blue: #37505C;
$royal-blue: #5682A3;
$grey: #575757;
$light-grey: #D0D0D0;
$med-grey:#9F9DA3;
$off-white: #F9F9F9;

$heart: #D17B88;
$dark-heart: #96616B;
$orange: #F8BD7F;

$small-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 3px rgba(0,0,0,0.24);
$med-shadow: 0 2px 6px rgba(0,0,0,0.12), 0 2px 6px rgba(0,0,0,0.24);
$big-shadow: 0 4px 12px rgba(0,0,0,0.25), 0 4px 12px rgba(0,0,0,0.22);


.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

// CSS transitions
// 1st time appearing
.router-fade-appear {
  opacity: 0.01;
}
.router-fade-appear.router-fade-appear-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
// entering
.router-fade-enter {
  opacity: 0.01;
}
.router-fade-enter.router-fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
// leaving
.router-fade-leave {
  opacity: 1;
}
.router-fade-leave.router-fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*:before,
*:after {
  box-sizing: border-box;
}

button {
  height: 32px;
  border-radius: 0px;
  border: 1px solid transparent;
  border-color: lighten($blue, 10%);
  background-color: $blue;
  color: #eee;
  padding: 0px 15px;
  touch-action: manipulation;
  cursor: pointer;
  box-shadow: $med-shadow;
  transition: all 0.4s ease;

  &:hover {
    background-color: $royal-blue;
    border-color: $royal-blue;
    box-shadow: $big-shadow;
  }
}

h1 {
  font-size: 2.5rem;
  font-weight: 500;
  color: #565A5C;
}

h2 {
  font-size: 1.2rem;
  font-weight: 300;
  color: #AAADAD;
}

h3 {
  font-size: 1.2rem;
}

input:focus {
  outline-offset: 0px;
  outline: none;
  color: #E0BAF0;
}


a {
  color: #96616B;
}

a:hover {
  color: #D4AFDF;
}

