
$primary-color: #96616B;
// $primary-color: #1BD1C1;
// $slider-color: #F8BD7F;
$slider-color: #96616B;

$secondary-color: #f68084;
$darkened-primary-color: #4179FD;
$darkened-secondary-color: #EF2128;



.chat__container {
  z-index: 3;
  position: fixed;
  right: 0;
  top: 50px;
  width: 360px;
  height: calc(100vh - 50px);
  overflow: hidden;
  background-color: rgba(255,255,255, 0.5);
  border-left: 2px solid $primary-color;

  .sidebar {
    float: left;
    width: 240px;
    color: #f4f4f4;
    background: linear-gradient(120deg, $secondary-color 0%, $primary-color 100%);
  }
  .message {
    height: calc(100% - 160px);
  }
}
