
$primary-color: #96616B;
// $primary-color: #1BD1C1;
// $slider-color: #F8BD7F;
$slider-color: #96616B;
$img-width: 10rem;
$img-height: 15rem;


.img-overlay-container {
  display: flex;
  flex-direction: row;
  order: 1; // flexbox order

  .img-overlay {
    border: 2px solid lighten($primary-color, 20%);
    margin: 0.5rem;
    padding: 0.5rem;
    transition: height 0.2s ease, width 0.2s ease;

    img {
      width: $img-width;
      height: $img-height;
      transition: height 0.2s ease, width 0.2s ease;
      pointer-events: none;
    }
  }

  .stream-description {
    display: none;
    opacity: 0;
    margin-top: 5%;
    transition: opacity 0.2s ease;

    .stream-header {
      // padding-top: 55vh;
      margin-left: 10%;
      padding-bottom: 0.5rem;
      border-bottom: 2px solid;
    }

    .stream-subheader {
      margin-left: 8%;
      padding-left: calc(2% - 4px);
      padding-right: 10%;
      border-left: 4px solid $primary-color;
      max-width: 600px;
      h3 {
        line-height: 1rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        /* adds to 2rem */
      }
    }

    .stream-text {
      padding-left: 5%;
    }
  }
}


.img-overlay-container.img-overlay__clicked {
  max-width: calc(100vw - 360px);
  order: 0; // flexbox order

  .img-overlay {
    transition: height 0.2s ease, width 0.2s ease;

    img {
      width: calc(#{$img-width} * 0.66);
      height: calc(#{$img-height} * 0.66);
      pointer-events: none;
    }
  }

  .stream-description {
    font-size: 1rem;
    opacity: 1;
    display: inline;
    transition: opacity 0.2s ease;
  }

}

.img-overlay-container.watchVideo {
  width: 100%;
}

.twitch-container {
  height: 40vw;
  min-height: 40vh;
  max-width: calc(100vw - 360px);
  padding: 0% 0%;
  border-top: 2px solid $primary-color;
  border-bottom: 2px solid $primary-color;
  transition: background-color 0.4s ease;
  background-color: #444444;
  display: flex;
  justify-content: center;
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('http://sf.co.ua/14/02/wallpaper-442831.jpg');

  iframe {
    max-width: calc(100vw - 360px);
    width: 100%;
    height: 100%;
    fill: #edeeee;
    transition: transform 0.5s ease;
  }
}


.clear-img-overlay {
  position: absolute;
}

