
$navy: #37505C;
$primary-color: #FFEAD0;
// $primary-color: #1BD1C1;
// $slider-color: #F8BD7F;
$secondary-color: #444;


.navigation-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 50px;
  background-color: lighten($primary-color, 5%);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  a {
    color: $secondary-color;
    font-size: 1rem;
  }
  div {
  }
}

.Nav__userprofile {
  color: $secondary-color;
  font-size: 1rem;
}

.Nav__upvotes {
  color: #77c058;
  font-size: 1rem;
}
.Nav__downvotes {
  color: #D17B88;
  font-size: 1rem;
}

.content-categories {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;

  z-index: 1;
  background-color: darken($primary-color, 5%);
  left: calc(50vw - 300px); // 300px width of chatbox
  padding: 10px;

  animation: fadeInLanguages 1s cubic-bezier(0.6,0,0.4,1);
  animation-delay: 0.5s;

  .categories {
    margin: 0 0.2rem;
    a {
      color: $secondary-color;
      font-size: 1rem;
    }
    a:hover {
      color: #D4AFDF;
    }
  }
}

@keyframes fadeInLanguages {
  from {
    opacity: 0;
    transform: translate3d(0, -50px, 0);
  }
}


