
$white: #fff;
$blue: #64A3E5;
$dark-blue: #37505C;
$grey: #575757;
$light-grey: #D0D0D0;
$med-grey:#9F9DA3;
$off-white: #F9F9F9;

$heart: #D17B88;
$dark-heart: #96616B;
$orange: #F8BD7F;

$small-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 3px rgba(0,0,0,0.24);
$med-shadow: 0 2px 6px rgba(0,0,0,0.12), 0 2px 6px rgba(0,0,0,0.24);
$big-shadow: 0 4px 12px rgba(0,0,0,0.25), 0 4px 12px rgba(0,0,0,0.22);

body {
  background: #f9f9f9 !important;
}

.navigation-bar {
  display: none !important;
}

.news_hunt_header {
  background: #fff;
  border-bottom: 1px solid #e8e8e8;
  position: relative;
  display: block;
  .header_content {
    display: block;
    padding: 15px 0px;
    max-width: 1100px;
    margin: auto;
    height: 62px;
    img {
      height: 100%;
      width: auto;
      display: block;
    }
    span {
      float: right;
      display: block;
      font-size: 20px;
      background: white;
      border: 1px solid grey;
      border-radius: 50px;
      width: 40px;
      height: 40px;
      padding: 8px 12px;
      margin-top: -38px;
    }
  }
}

.news_hunt {
  background-color: #f9f9f9;
  width: 100%;
  height: 100%;
  display: block;
  margin: auto;
  padding-bottom: 20px;
    .flex_hunt {
      flex-flow: row;
      display: flex;
      flex: 1;
      min-width: 0;
      margin-top: 20px;
      margin: 20px auto;
      max-width: 1100px;
    .news_hunt_left_side {
      display: block;
      width: 210px;
      flex-flow: row;
      h3 {
        font-size: 11px;
        font-weight: 400;
        letter-spacing: .3px;
        line-height: 16px;
        text-transform: uppercase;
        margin-bottom: 10px;
      }
      ul{
        padding-right: 20px;
        li{
          &:hover{
            border: 1px solid #e8e8e8;
            border-radius: 4px;
            transition: all 0.5s ease-in-out;
          }
          &.active{
            background: #ffffff;
            border: 1px solid #e8e8e8;
            border-radius: 4px;
          }
          align-items: center;
          border: 1px solid transparent;
          box-sizing: border-box;
          display: flex;
          padding: 4px;
          margin-bottom: 4px;
          border-radius: 3px;
          span.fa {
            font-size: 18px;
            margin-right: 10px;
            width: 18px;
          }
          span.text {
            display: block;
            color: #000;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 140px;
            font-size: 13px;
            font-weight: 400;
            line-height: 18px;
          }
        }
      }
    }
    .news_hunt_right_side {
      display: block;
      width: 260px;
      height: 600px;
      flex-flow: row;
      margin-left: 20px;
      background: #ffffff;
      border: 1px solid #e8e8e8;
      border-radius: 4px;
      p{
        font-size: 13px;
        font-weight: 400;
        line-height: 18px;
        display: block;
        padding: 20px;
      }
      .news_hunt_header {
            align-items: baseline;
            border-bottom: 1px solid #e8e8e8;
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            padding: 15px 0;
            margin: 0 20px;
              .title {
                font-size: 20px;
                font-weight: 300;
                letter-spacing: .4px;
                line-height: 20px;
                color: #222;
              }
        }
    }
    .news_hunt_container {
      display: block;
      flex: 1;
      flex-flow: row;
      min-width: 0;
      background: #ffffff;
      border: 1px solid #e8e8e8;
      border-radius: 4px;
        .news_hunt_header {
            align-items: baseline;
            border-bottom: 1px solid #e8e8e8;
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            padding: 15px 0;
            margin: 0 20px;
              .title {
                font-size: 20px;
                font-weight: 300;
                letter-spacing: .4px;
                line-height: 20px;
                color: #222;
              }
        }
        .news_hunt_article {
        border-bottom: 1px solid #e8e8e8;
        display: flex;
        padding: 15px;
        .article_content{
            display: flex;
            flex-direction: column;
            width: 100%;
          .article_metadata {
            display: flex;
            flex-direction: column;
            justify-content: top;
            flex-grow: 1;
            h1 {
              font-size: 20px;
              font-weight: 300;
              letter-spacing: .4px;
              line-height: 24px;
                  color: #000;
            }
            h4 {
              font-size: 13px;
              font-weight: 400;
              line-height: 18px;
              margin: 5px 0;
              width: 400px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              color: #999;
            }
            p {
              font-size: 10px;
              font-weight: 400;
              line-height: 8px;
              color: #999;
            }
            
          }
          .actions_hunt {
              img {
                float: left;
                margin-top: 8px;
                width: 30px;
                height: 15px;
              }
              button {
                vertical-align: top;
                border-radius: 3px;
                border: 1px solid transparent;
                box-sizing: border-box;
                outline: 0;
                float: right;
                text-align: center;
                text-decoration: none!important;
                background: #fff;
                border-color: #e8e8e8;
                color: #000;
                fill: #000;
                height: 24px;
                padding: 0 8px;
                margin-left: 10px;
                box-shadow: 0px 0px 0px !important;
                span {
                  padding-right: 5px;
                  font-size: 15px;
                }
              } 
            }
          }
          .urlToImage {
            width: 110px;
            height: 110px;
            float: left;
            overflow: hidden;
            background-position: center center;
            background-size: cover;
            margin-right: 15px;
          }
        }
    }
    }
}



